[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = git@github.com:skypjack/entt.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = git@github.com:nothings/stb.git
[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "thirdparty/openal-soft"]
	path = thirdparty/openal-soft
	url = git@github.com:kcat/openal-soft.git
[submodule "thirdparty/AudioFile"]
	path = thirdparty/AudioFile
	url = git@github.com:adamstark/AudioFile.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = git@github.com:assimp/assimp.git
[submodule "thirdparty/box2d"]
	path = thirdparty/box2d
	url = git@github.com:erincatto/box2d.git
